
page-home {
    .scroll-content{
        background-color: #FFFBAD;
        background-image: linear-gradient(to bottom, (rgba(255, 251, 173, 0.3)), #C9A967);
    }


    ion-grid {
        height: 100%;
        justify-content: center;
    }

    .ion-col{
        align-self: center
    }

    img{
        max-width: 100%;

    }
     

}

