// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@import "../pages/home/home";


@font-face {
    font-family: "Steinlight";
    src: url('../assets/fonts/Steinerlight.ttf');
}

@font-face {
    font-family: "Open Sans";
    src: url('http://fonts.googleapis.com/css?family=Open+Sans');
}


h1, h2, h3, h4, h5, h6, p, .h1, .h2, .h3, .h4, .h5, .h6 .item,.item-divider{
    color: black;
    font-family: "Open Sans" , sans-serif;
    text-align: center;
    font-weight: 580 ;
    letter-spacing: 1px;
    

}

span{
    color: black;
    font-size: 1.1em; 

}

.button-ios{
    box-shadow: 5px 5px 15px #7d612a;
    display: block;
    font-weight: 500;
    letter-spacing: 1px;
    border: .7px solid black;
}

.scroll-content{
    background-color: #FFFBAD;
    background-image: linear-gradient(to bottom, (rgba(255, 251, 173, 0.3)), #C9A967);

}

ion-header {
    .toolbar {
      position: absolute;
      border: none;
  
      .toolbar-background {
        background: transparent;
        border:none;
      }
      .toolbar-title {
        color: black;
        font-family: "Open Sans" , sans-serif;
        text-align: center;
        font-weight: 580 ;
        font-size: 20px;
        letter-spacing: 1px;
      }
    }

}



  .item-ios.item-block .item-inner{
    border-bottom: 0.55px solid black; 

  }
  .list-ios .item-block .item-inner{
    border-bottom: 0.55px solid black; 
  }

  .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block{
    border-bottom: 0.55px solid black; 
    border-top: none;

  }
  
  .item-ios{
      padding-left: 0px !important;
  }

  .checkbox-ios .checkbox-icon{
      border: 0.55px solid black; 
  }

  .back-button.show-back-button{
      padding-left:16px;
  }

  .back-button-text-ios{
      font-family: "Open Sans";
      font-size: 18px;
      padding-left: 5px;
  }

  .button-outline-ios.activated{
      background-color:black !important;
      span{
        color:#C9A967;
        font-weight: 500; 
        transition-timing-function: ease-in 5s;
      }
  }

  .toolbar.toolbar-ios{
    height: 70px;
    background-color: #e1bf6a;
    box-shadow: 0px -2px 20px black;
  }

  .toolbar-title.toolbar-title-ios{
    color: black   !important;
    font-size: 20px;
    font-weight: 600;
    font-family: "Open Sans";
  }

  .icon.icon-ios{
    font-weight: 600;
  }

  .card-ios{
      height: 250px;
      box-shadow: 0px 5px 15px #7d612a;
  }


  .fab-ios{
    border-radius: 0;
    background-color: transparent;
  }

  .list-ios .item-block .item-inner{
      padding: 0;
      border-top: none;
  }

  .label-ios{
      margin: 0;
  }

  .searchbar-ios{
      //padding: 0px;
      width: 100%;
      border: none;
      background: none;
        .button-ios{
            
            border: none;
            box-shadow: none;
        }
  }

  .searchbar-ios .searchbar-input{
      //background: none;
      //outline: .5px solid  #7d612a;
  }



  .alert-ios .alert-wrapper{
    overflow: hidden;
    border-radius: 0;
    min-width: 80%;
    padding: 15px;
    background:#f1d26d;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: "Open Sans";
  }

  .alert-ios .alert-button{
      border-top: 1px solid #7d612a ;
  }

  .alert-head{
      color: black;
  }

  .alert-ios .alert-title{
      font-family: "Open Sans";
      color: black !important;
  }

  h3{
      color: black ;
  }

  #alert-subhdr-2{
    color: black ;
  }

  .button-effect{
      background-color: none;
  }

  .alert-ios .alert-button.activated{
    background:#f5d262e8;
  }