// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@import "../pages/home/home";


@font-face {
    font-family: "Steinlight";
    src: url('../assets/fonts/Steinerlight.ttf');
}

@font-face {
    font-family: "Open Sans";
    src: url('http://fonts.googleapis.com/css?family=Open+Sans');
}


h1, h2, h3, h4, h5, h6, p, .h1, .h2, .h3, .h4, .h5, .h6 .item,.item-divider{
    color: black;
    font-family: "Open Sans" , sans-serif;
    text-align: center;
    font-weight: 580 ;
    letter-spacing: 1px;
    

}

span{
    color: black;
    font-size: 1.1em; 

}

.button-ios{
    box-shadow: 5px 5px 8px rgba(0,0,0, .7);
    display: block;
}

.scroll-content{
    background-color: #FFFBAD;
    background-image: linear-gradient(to bottom, (rgba(255, 251, 173, 0.3)), #C9A967);

}

ion-header {
    .toolbar {
      position: absolute;
      border: none;
  
      .toolbar-background {
        background: transparent;
        border:none;
      }
      .toolbar-title {
        color: black;
      }
      .toolbar-ios-border-color	{
        color: rgba(0, 0, 0, .3);	
      }
    }

  }
  .item-ios.item-block .item-inner{
    border-bottom: 0.55px solid black; 

  }
  .list-ios .item-block .item-inner{
    border-bottom: 0.55px solid black; 
  }

  .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block{
    border-bottom: 0.55px solid black; 

  }
  
  .item-ios{
      padding-left: 0px !important;
  }

  .checkbox-ios .checkbox-icon{
      border: 0.55px solid black; 
  }

  .back-button.show-back-button{
      padding-left:16px;
      padding-top: 25px;
  }

  .back-button-text-ios{
      font-family: "Open Sans";
      font-size: 18px;
      padding-left: 5px;
  }

  .button-outline-ios.activated{
      background-color:black !important;
      span{
        color:#C9A967;
        font-weight: 500; 
        transition-timing-function: ease-in 5s;
      }
  }